@font-face {
  font-family: "Great_Vibes";
  src: url("fonts/Great_Vibes/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserratregular";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "MontserratLight";
  src: url("fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald-Medium.ttf");
}
@font-face {
  font-family: "OswaldBtn";
  src: url("fonts/Oswald/Oswald-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "iBmplanks";
  src: url("fonts/IBM_Planks/IBMPlexSans-Medium.ttf");
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
.hero {
  position: relative;
}

.heroimg {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.herocontainer {
  position: absolute;
  width: 720px;
  height: 235.47px;
  top: 640px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.divetext {
  font-family: "MontserratBold", sans-serif;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  line-height: normal;
  letter-spacing: 15.95px;

  text-shadow: 0px 0px 22.6px #000, 0px 4px 10.4px #000;
}
.divepara {
  font-family: "MontserratMedium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 5px;
  text-align: center;
}
.scrollicon {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.scrollicon p {
  font-family: "MontserratBold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.scrollarrow {
  display: flex;
  flex-direction: column;
  width: 50px;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
}

.image1 {
  cursor: pointer;
  animation: effect1 1.8s infinite forwards;
}
.image2 {
  cursor: pointer;
  animation: effect2 1.8s infinite forwards;
}

@keyframes effect1 {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  10% {
    opacity: 0.1;
    transform: scale(0.6);
  }
  20% {
    opacity: 1;
    transform: scale(0.7);
  }
  25% {
    opacity: 0.1;
    transform: scale(0.7);
  }
  30% {
    opacity: 1;
    transform: scale(0.8);
  }
  35% {
    opacity: 0.1;
    transform: scale(0.8);
  }
  40% {
    opacity: 1;
    transform: scale(0.9);
  }
  45% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}

@keyframes effect2 {
  0% {
    width: 0;
  }
  50%,
  60%,
  70% {
    width: 70%;
  }
  100% {
    width: 60%;
  }
}

.bgimg {
  display: block;
  width: 100vw;
  height: auto;
  z-index: -3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  padding: 34px 33px;
  justify-content: space-between;
  width: 100vw;
  align-items: center;

  height: 35px;
  z-index: 1;
}

.left-section {
  width: 20%;

  display: flex;
  align-items: center;
}
.left-section img {
  width: 179px;
  height: 26px;
}
.right-section {
  display: flex;
  width: 80%;
  justify-content: end;

  align-items: center;
  gap: 40px;
}
.headerlink {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 534px;

  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20.75px;
}
li {
  cursor: pointer;
  transition: ease 0.35s all;
}
li:hover {
  color: rgba(0, 255, 240, 1);
  text-shadow: 0 0 10px rgba(0, 255, 240, 1);
}
.btn {
  position: relative;
  width: 101px;
  height: 34px;
  border-radius: 81px;
  background-image: linear-gradient(93deg, #0077e5 4.01%, #00ffe0 96%);
  background-size: 200% 100%;
  cursor: pointer;
  padding: 2px 10px;
  border: none;
  transition: all 1s ease;
  animation: gradientshift 3s infinite alternate;
  box-shadow: 0px 6px 10px 0px rgba(0, 119, 229, 0.5),
    0px 5px 15px -4px rgba(0, 255, 224, 0.5);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(93deg, #0077e5 4.01%, #00ffe0 96%);
  opacity: 0;
  transition: opacity 0.35s ease;
  z-index: 1;
  border-radius: 81px;
}

.btn:hover::before {
  opacity: 1;
}

.signuptext {
  position: relative;
  z-index: 2;
  color: white;
}

@keyframes gradientshift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
footer {
  position: absolute;
  bottom: 20px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-footer {
  width: 50%;
}
.logoc {
  display: flex;
  flex-direction: column;
  width: 137px;
  height: 20px;
  gap: 5px;
}
.footertext {
  font-family: "Montserratregular", sans-serif;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 0;
  margin-top: 5px;
}
.address {
  width: 311px;
  height: 90px;
  margin-top: 35px;
}
.address1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
}
.address2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
  margin-top: 15px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 105.33px;
  align-items: center;
  height: 22px;
  margin-top: 45px;
}
.social img {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.35s ease all;
}
.social img:hover {
  color: white;
  opacity: 1;
}
.link_col {
  width: 50%;
  display: flex;
  justify-content: end;
  text-align: right;
}
.list {
  width: 157px;
  height: 155px;
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0;
}
.num {
  margin-left: 25px;
}

@keyframes borderAnimation {
  from {
    width: 0;
    left: 0%;
  }
  to {
    width: 75%;
    left: 0;
  }
}

.list li:hover,
.list li:hover .num {
  color: rgba(0, 255, 240, 1);
  transition: ease 0.35s all;
  position: relative;
}

.list li:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;

  height: 1px;
  background-color: rgba(0, 255, 240, 1);
  animation: borderAnimation 0.1s cubic-bezier(0.25, 0.1, 0.79, 1.29) forwards;
}
.signup {
  position: relative;
  display: flex;
  justify-content: center;
}
.signupsection {
  position: absolute;
  top: 18%;
  width: 1092px;
  height: 401px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.text2 {
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-top: 10px;
}
label {
  font-family: "iBmplanks", sans-serif;
  font-weight: 500;
  font-size: 13.04px;
  text-align: left;

  line-height: 16.96px;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.fields {
  display: flex;
  gap: 35px;
}
.submitbtn {
  display: flex;
  justify-content: center;
}
.btn2 {
  margin-top: 100px;
  width: 326px;
  height: 42px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(93deg, #00ffe0 4.01%, #0077e5 96%);
}

.submitText {
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  font-size: 14.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  color: #eaf4f8;
  position: relative;
  z-index: 2;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(93deg, #0077e5 4.01%, #00ffe0 96%);
  opacity: 0;
  transition: opacity 0.35s ease;
  z-index: 1;
}

.btn2:hover::before {
  opacity: 1;
}

.forminput {
  width: 326px;
  height: 42px;
  display: flex;

  flex-direction: column;
}
input {
  margin-top: 20px;
  position: relative;
  background: transparent;
  padding: 10px 2px;
  border: none;
  border-bottom: white solid 1px;
  color: white;
  outline: none;
}
.about {
  position: relative;
}

.aboutcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.left-about {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.Diveroid-Presents {
  top: 0;

  text-shadow: 0px 4px 4px #00000040;
  font-family: "MontserratLight", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  letter-spacing: normal;
  line-height: 40.8px;
}
.text-wrapper {
  font-weight: 300;
}
.span {
  font-family: "MontserratMedium", sans-serif;
  font-family: 500;
}
.text-wrapper-2 {
  font-family: "Great_Vibes", sans-serif;
  font-size: 32px;
  line-height: 54.4px;
}
.right-about {
  display: flex;
  justify-content: right;
  width: 50%;
}
.rectangle {
  width: 706px;
  height: 412px;
  background-color: #00000066;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #00ffef;
  box-shadow: 0px 38px 58.3px -10px #000000;
  backdrop-filter: blur(25px) brightness(100%);
  -webkit-backdrop-filter: blur(25px) brightness(100%);
  padding: 50px 60px;
}
.head-wrapper {
  display: flex;
  align-items: center;

  width: 306px;
  height: 57px;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 600;
  columns: #ffffff;
  font-size: 36px;
  letter-spacing: normal;
  line-height: normal;
}
.para-wrapper {
  width: 511px;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  margin-top: 20px;
  line-height: normal;
}
.product {
  position: relative;
}
.product-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-product {
  display: flex;
  justify-content: start;
  width: 50%;
  align-items: center;
}
.rectangle1 {
  width: 739px;
  height: 612px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #00000066;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00ffef;
  backdrop-filter: blur(25px) brightness(100%);
  -webkit-backdrop-filter: blur(25px) brightness(100%);
  padding: 40px;
}
.head-wrapper1 {
  display: flex;
  align-items: center;
  text-align: end;
  text-shadow: 0px 0px 22.6px #000000;

  width: 233px;
  height: 47px;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 500;
  columns: #ffffff;
  font-size: 40px;
  letter-spacing: normal;
  line-height: normal;
  white-space: nowrap;
}
.para-wrapper1 {
  text-align: right;
  width: 525px;
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
}
.right-product {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.productimg-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;

}
.productimg-wrapper img {
  /* width: 800px; */
  overflow: hidden;
}
.feature{
  position: relative;
}
.feature-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-feature{
  display: flex;
  justify-content: left;
  width: 50%;
  align-items: center;

}
.right-feature{
  display: flex;
  justify-content: start ;
  width: 50%;
  align-items: center;
  padding: 60px;
}
.featuretext{
  display: flex;
  flex-direction: column;
  margin-top: -80px;
}
.productName{
  width: auto ;
  height: 49px;
  text-shadow: 0px 0px 22.6px #000000;
  font-family: "MontserratBold", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 11.6px;
  line-height: normal;

}
.Productfeature{
  width: auto;
  font-family: "MontserratMedium", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 6.72px;
  line-height: normal;

}