@font-face {
  font-family: "Great_Vibes";
  src: url("fonts/Great_Vibes/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserratregular";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald-Medium.ttf");
}
@font-face {
  font-family: "OswaldBtn";
  src: url("fonts/Oswald/Oswald-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "iBmplanks";
  src: url("fonts/IBM_Planks/IBMPlexSans-Medium.ttf");
}
::-webkit-scrollbar {
  display: none;
}
.container {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
.hero {
  position: relative;
}
.heroimg {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.herocontainer {
  position: absolute;
  width: 731px;
  height: 235.47px;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.divetext {
  font-family: "MontserratBold", sans-serif;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  line-height: 67.95px;
  letter-spacing: 29%;

  text-shadow: 3px 3px 10px #000000;
}
.divepara {
  font-family: "Montserratregular", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 28%;
  text-align: center;
}
.scrollicon {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.scrollicon p {
  font-family: "MontserratBold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.scrollicon img{
  animation: bounce 1s infinite  ;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-5px); 
  }
}
.bgimg {
  display: block;
  width: 100%;
  height: auto;
  z-index: -3;
}
nav {
  display: flex;
  position: absolute;
  padding: 34px 33px;
  justify-content: space-between;
  width: 100%;

  height: 35px;
  z-index: 1;
}
.left-section {
  width: 20%;

  display: flex;
  align-items: center;
}
.left-section img {
  width: 179px;
  height: 26px;
}
.right-section {
  display: flex;
  width: 80%;
  justify-content: end;

  align-items: center;
  gap: 40px;
}
.headerlink {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 534px;

  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20.75px;
}
li {
  cursor: pointer;
  transition: ease 1s all;
}
li:hover {
  color: rgba(0, 255, 240, 1);
}
.btn {
  position: relative;
  width: 101px;
  height: 34px;
  border-radius: 81px;
  background: var(--CTA-2, linear-gradient(93deg, #0077e5 4.01%, #00ffe0 96%));
  background-size: 200% 100%;
  cursor: pointer;

  padding: 2px 10px;
  border: none;
  transition: all 1s ease;
  animation: gradientshift 3s infinite alternate;
  box-shadow: 0px 6px 10px 0px rgba(0, 119, 229, 0.5),
    0px 5px 15px -4px rgba(0, 255, 224, 0.5);
}
@keyframes gradientshift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
footer {
  position: absolute;
  bottom: 20px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-footer {
  width: 50%;
}
.logoc {
  display: flex;
  flex-direction: column;
  width: 137px;
  height: 20px;
  gap: 5px;
}
.footertext {
  font-family: "Montserratregular", sans-serif;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 0;
  margin-top: 5px;
}
.address {
  width: 311px;
  height: 90px;
  margin-top: 35px;
}
.address1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
}
.address2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
  margin-top: 15px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 105.33px;
  align-items: center;
  height: 22px;
  margin-top: 45px;
}
.social img {
  cursor: pointer;
}
.social img:hover {
  color: white;
}
.link_col {
  width: 50%;
  display: flex;
  justify-content: end;
  text-align: right;
}
.list {
  width: 157px;
  height: 155px;
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0;
}
.num {
  margin-left: 25px;
}
.list li:hover,
.list li:hover .num {
  color: rgba(0, 255, 240, 1);
  transition: ease 1s all;
}
